@font-face {
  font-family: "Spaced";
  src: url("../public/fonts/Spaced_OTF.otf");
}

html {
  scroll-behavior: smooth;
  color: #fff;
}

body {
  @apply bg-[#F4F8FF] dark:bg-[#030c16] opacity-0 pointer-events-none;
  /* overflow-y: overlay; */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .__input {
    @apply input_border focus:input_gradient_border border border-transparent w-full block outline-none py-4 px-6 rounded-[10px] text-base lg:text-lg placeholder:text-[#576993] placeholder:capitalize text-white;
  }
  .__label {
    @apply text-base lg:text-xl font-medium font-sans text-[#9EBBFF] mb-3;
  }
  .body_text {
    @apply text-base lg:text-[18px] !leading-[160%] text-[#838CA3] capitalize;
  }
  .title_text {
    @apply text-[32px] leading-[40px] lg:text-[64px] ipad:text-[40px] ipad:leading-[120%] text-white text-center font-spaced;
  }
  .form_grid_2 {
    @apply grid grid-cols-1 lg:grid-cols-2 gap-6;
  }
}

@layer utilities {
  .nft_card_hover {
    @apply duration-200;
    box-shadow: 0px 15px 47px 0px #0ad3ff80 !important;
  }
  .container {
    @apply mx-auto px-5 2xl:max-w-[1450px];
  }
  .landing_page_container {
    @apply mx-auto max-w-full px-[30px] ipad:px-8 lg:px-6 xl:max-w-[1380px];
  }
  .bg-size-full {
    background-size: 100%;
  }

  .nft_card_hover_shadow {
    box-shadow: 0px 1px 30px -2px #71eeff;
  }
  .bg-110 {
    background-size: 110%;
  }
  .btn_gradient {
    @apply from-blue-500 to-cyan-500 bg-gradient-to-r text-sm sm:text-base px-10 py-2.5 lg:py-[17px] rounded-full hover:from-blue-600 hover:to-cyan-600;
  }
  .bg-size-120 {
    background-size: 120%;
  }
  .bg-size-300 {
    background-size: 300%;
  }

  .roadmap_circle_bg {
    background: linear-gradient(#091c4a, #091c4a) padding-box padding-box,
      linear-gradient(91.52deg, #6396f9 40.77%, #00d1ff 115.11%) border-box
        border-box;
  }
  .roadmap_circle_bg_hover {
    background: linear-gradient(91.52deg, #6396f9 40.77%, #00d1ff 115.11%)
        padding-box padding-box,
      linear-gradient(91.52deg, #6396f9 40.77%, #00d1ff 115.11%) border-box
        border-box;
  }

  .vision_mission_gradient {
    background: linear-gradient(180deg, #092238 0%, rgba(0, 209, 255, 0) 100%)
        padding-box padding-box,
      linear-gradient(
          180deg,
          rgba(255, 255, 255, 0.2) 0%,
          rgba(255, 255, 255, 0) 100%
        )
        border-box border-box;
  }
  .value_box_gradient_light {
    background: linear-gradient(
          152.97deg,
          rgba(238, 241, 250, 0.9) 0%,
          rgba(226, 234, 254, 0.9) 100%
        )
        padding-box padding-box,
      linear-gradient(rgb(255 255 255 / 20%) 0%, rgba(25, 195, 254, 0) 79.17%)
        border-box border-box;
  }
  .value_box_gradient_dark {
    background: linear-gradient(#062036 0%, rgb(0 209 255 / 0%) 100%)
        padding-box padding-box,
      linear-gradient(rgb(255 255 255 / 20%) 0%, rgba(25, 195, 254, 0) 79.17%)
        border-box border-box;
  }
  .value_box_icon_gradient_light {
    background: linear-gradient(
        91.52deg,
        rgb(99 150 249 / 10%) 40.77%,
        rgb(0 209 255 / 10%) 115.11%
      ),
      padding-box padding-box,
      linear-gradient(rgb(255 255 255 / 20%) 0%, rgba(25, 195, 254, 0) 79.17%)
        border-box border-box;
  }
  .value_box_icon_gradient_dark {
    background: linear-gradient(#062036 0%, rgb(0 209 255 / 0%) 100%)
        padding-box padding-box,
      linear-gradient(rgb(255 255 255 / 20%) 0%, rgba(25, 195, 254, 0) 79.17%)
        border-box border-box;
  }

  .input_gradient_border {
    background: linear-gradient(#1c233d 0%, #1c233d 100%) padding-box
        padding-box,
      linear-gradient(91.52deg, #6396f9 40.77%, #00d1ff 115.11%) border-box
        border-box;
  }
  .input_border {
    background: linear-gradient(#1c233d 0%, #1c233d 100%) padding-box
        padding-box,
      linear-gradient(91.52deg, #1c233d 40.77%, #1c233d 115.11%) border-box
        border-box;
  }
}

.faq_section .Collapsible {
  @apply rounded-2xl duration-200 bg-gradient-to-bl from-[#121C37] to-[#091C4A] border border-[#6396F9];
}
.faq_section .Collapsible .minus_icon,
.faq_section .Collapsible.currently_open .plus_icon {
  display: none;
}

.faq_section .Collapsible.currently_open {
  @apply rounded-2xl;
}

.faq_section .Collapsible.currently_open .minus_icon {
  display: block !important;
}

.animate_slide_up_down {
  animation: animate_slide_up_down 1.5s linear infinite;
}

@keyframes animate_slide_up_down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}

.klaviyo-form-XGdvPD .needsclick.kl-private-reset-css-Xuajs1 form {
  overflow: hidden !important;
}

.gradient_text {
  background: linear-gradient(91.52deg, #6396f9 40.77%, #00d1ff 115.11%),
    #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.collections_range_wrapper .MuiSlider-colorPrimary {
  padding: 0 !important;
}
.collections_range_wrapper .MuiSlider-rail.css-14pt78w-MuiSlider-rail {
  background-color: #273452 !important;
  height: 10px;
}
.collections_range_wrapper .MuiSlider-track.css-1gv0vcd-MuiSlider-track {
  height: 10px;
}
.collections_range_wrapper .MuiSlider-track.css-1gv0vcd-MuiSlider-track,
.collections_range_wrapper
  .MuiSlider-thumbColorPrimary.MuiSlider-thumbSizeMedium.MuiSlider-thumb.css-1ti6opd-MuiSlider-thumb {
  background: linear-gradient(91.52deg, #6396f9 40.77%, #00d1ff 115.11%),
    linear-gradient(0deg, #00a3ff, #00a3ff) !important;
}
.collections_range_wrapper
  .MuiSlider-thumbColorPrimary.MuiSlider-thumbSizeMedium.MuiSlider-thumb.css-1ti6opd-MuiSlider-thumb {
  width: 25px;
  height: 25px;
}

canvas {
  display: block;
}

.vimeo_wrapper iframe {
  width: 100vw !important;
  height: 100% !important;
}

.vimeo_wrapper #player {
  width: 100% !important;
  height: 100% !important;
}

.gradient_checkbox_input:checked + .gradient_checkbox_wrapper,
.gradient_checkbox_input:checked
  + .gradient_checkbox_wrapper
  .greadient_checkbox_circle {
  @apply !from-cyan-500 !to-blue-500 !bg-gradient-to-r;
}
.gradient_checkbox_input:checked + .gradient_checkbox_inner_wrapper {
  @apply bg-[#273B5D];
}
.gradient_checkbox_input:checked
  + .gradient_checkbox_wrapper
  .greadient_checkbox_circle {
  @apply translate-x-[150%];
}

.box_gradient_text {
  background: linear-gradient(93.32deg, #11aaf5 0.18%, #65d3ff 88.34%), #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.products_and_services_slider .swiper-wrapper {
  transition-timing-function: linear;
}

.custom_date_input_wrapper input {
  @apply __input h-[62px] py-0 placeholder:opacity-100;
}
.custom_date_input_wrapper > div {
  @apply w-full;
}
.custom_date_input_wrapper .MuiOutlinedInput-notchedOutline {
  @apply !border-none;
}
.custom_date_input_wrapper .MuiOutlinedInput-root {
  @apply !p-0;
}
.custom_date_input_wrapper .MuiInputAdornment-root {
  @apply absolute top-1/2 -translate-y-1/2 right-6;
}

.scrollbar_thin::-webkit-scrollbar {
  width: 10px;
}

.scrollbar_thin::-webkit-scrollbar-track {
  background: #262d47;
  border-radius: 100px;
  margin-block: 10px;
  margin-right: 10px;
}

.scrollbar_thin::-webkit-scrollbar-thumb {
  background-color: #576993;
  border-radius: 100px;
}

.white_glove_card_gradient_border {
  background: linear-gradient(#1c233d, #1c233d) padding-box padding-box,
    linear-gradient(91.52deg, #6396f9 40.77%, #00d1ff 115.11%) border-box
      border-box;
}

.white_glove_card_solid_border {
  background: linear-gradient(#1c233d, #1c233d) padding-box padding-box,
    linear-gradient(91.52deg, #1c233d 40.77%, #1c233d 115.11%) border-box
      border-box;
}
